
{% extends 'catalog_app/base.html' %}

{% load my_tags %}

{% block content %}
    <h1 class="text-center">Интернет-магазин "Идейка!"</h1>
            <div class="container-xxl">
                <div class="col-12">


                                <div class="card-body">
                                    <br>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="container text-center w-50">
                                            {{form.as_p}}
                                        </div>
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </form>
                                </div>

                </div>
            </div>
{% endblock %}