
{% extends 'catalog_app/base.html' %}

{% load my_tags %}

{% block content %}
    <h1 class="text-center">Интернет-магазин "Идейка!"</h1>
            <div class="container-xxl">
                <div class="col-12">
                    <div class="col-6">
                        <div class="card text-center" style="width: 18rem;">

                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <button type="submit" class="btn btn-success">Создать</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}