{% extends 'catalog_app/base.html' %}

{% load my_tags %}

{% block content %}

<h1 class="text-center">Интернет-магазин "Идейка!"</h1>
<div class="container">

    <div class="row">

         <div class="col-3">

                <div class="card" style="width: 18rem;">
                    <img src="{{ object.preview|my_media }}" class="card-img-top" alt="...">
                    <div class="card-body">
                       <h5 class="card-title text-center">{{ object.title }}</h5>
                    </div>
                    <h6 class="text-end m-3">Просмотры: {{ object.view_count }}</h6>
                </div>
         </div>
        <div  class="col-9">
            <br>
            <h3 class="text-center">{{ object.body }}</h3>
        </div>

    </div>

    </div>
</div>
<div class="container">
        <div class="text-end">
            <a class="btn btn-warning m-3" href="{% url 'catalog:blog_update' object.pk %}">Редактировать</a>
            <a class="btn btn-danger m-3" href="{% url 'catalog:blog_delete' object.pk %}">Удалить</a>
        </div>
</div>

{% endblock %}