{% extends 'catalog_app/base.html' %}

{% load my_tags %}

{% block content %}
<h1 class="text-center">{{object.name}}</h1>
<div class="container">
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="{{ object.image|my_media }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{object.description}}</p>
                    <h3 class="card-text">{{object.price}}$</h3>

                    <a href="#" class="btn btn-primary">В корзину</a>
                </div>
                <div class="card-footer">
                    <h6>
                        {% for item in object.version_set.all %}
                            {% if item.current_version_indicator == True %}
                                Актуальная версия
                            {% else %}
                                Неактуальная версия
                            {% endif %}
                        {% endfor %}

                        {% if object.is_published %}
                            Опубликовано
                        {% else %}
                            Неопубликовано
                        {% endif %}
                    </h6>
                </div>
            </div>
        </div>
        <div  class="col-6">
            <ul class="list">
                <li><span style="font-size: 20px">Тезис с описанием плюсов или минусов товара.</span></li>
                <li><span style="font-size: 20px">Второй тезис с описанием плюсов или минусов товара.</span></li>
                <li><span style="font-size: 20px">Третий тезис с описанием плюсов или минусов товара.</span></li>
                <li><span style="font-size: 20px">И еще один тезис с описанием плюсов или минусов товара.</span></li>
            </ul>
        </div>
            <div class="col-3">
                {% if user.is_authenticated %}
                    {% if user == object.creator or user.is_superuser %}
                        <a class="btn btn-warning m-2" href="{% url 'catalog:update_product' object.pk %}">Редактировать</a>
                    {% else %}
                        {% if perms.catalog.set_published_status %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'catalog:update_product_is_published' object.pk %}">Отменить публиацию</a>
                            </p>
                        {% endif %}
                        {% if perms.catalog.can_change_description %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'catalog:update_product_description' object.pk %}">Поменять описание</a>
                            </p>
                        {% endif %}
                        {% if perms.catalog.can_change_category %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'catalog:update_product_category' object.pk %}">Поменять категорию</a>
                            </p>
                        {% endif %}
                    {% endif %}
                    <p>
                        <a class="btn btn-danger m-2" href="{% url 'catalog:delete_product' object.pk %}">Удалить</a>
                    </p>
                {% endif %}
            </div>

    </div>
</div>
{% endblock %}
